<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8" />
<title>simple.html</title>
</head>
<body>
    <div id="header">
        <div id="replaceHeader" data-role="header">
            <h1>ヘッダー文字列</h1>
        </div>
    </div>
    <div class="content" data-role="content" id="content">
        <div id="replaceContent">
            <div class="main" id="main">メインコンテンツ</div>
        </div>
    </div>

    <div id="footer">
        <div id="replaceFooter">
            <a href="../m2template/">ホーム</a>
        </div>
        <h3>Copyright © 2014 XXX All Rights Reserved.</h3>
    </div>
</body>
</html>
